*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.etoile{
  color: rgb(218, 190, 9);
}
select{
  width: 100%;
  border: none;
}
input{
  width: 100%;
  border: none;
}

h1, h2, h3, h4, h5{
  font-family: "Playfair Display", Arial, serif;
}
h3{
  font-size: 1.75rem;
}
i{
  color: rgb(218, 190, 9);
  font-size: 3em;
}
.icon-inner, .ionicon, svg{
  width: 60px;
  fill: rgba(182, 145, 0, 0.8);
}
a{
  text-decoration: none;
  color: #212529;
}

.msgAvis{
  color: grey;
  font-style: normal;
  font-weight: lighter;
}

html, body {
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header{
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 30;
}
.navbarToggle-toggler{
  display: none;
  border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
    right: 0px;
}
.navbarToggle-navToggle.menuToggle{
  display: none;
}
.navbarToggle-toggler a.navToggle-linkToggle{
  color: red;
  position: absolute;
  top: 50px;
}
i.fa-bars{
  font-size: 15px;
  color: black;
  z-index: 30;
}
      .navbarToggleGen {
        position: relative;
        justify-content: space-between;
        background-color: white;
      }
      a.titreToggle{
        display: none;
      }
      a.titre {
      font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
      }
      .contentNav{
        width: 100%;
    padding: 10px 0px;
    display: flex;
    position: absolute;
    align-items: center;
    background-color: white;
    justify-content: space-around;
      }
    
    ul.navbar-nav{
      width: 120%;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: space-between;
    }
    .nav-item{
      display: inline-block;
    }
    li.nav-item a{
    font-size: 14px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    opacity: 1 !important;
    }

    .aside-stretch{
      position: relative;
      margin-top: 200px;
    }
  /********************** SLIDER *************************************/
  #stage {
    position: relative;
    top:40px;
    width: 100%;
    height: 1000px;
    z-index: -1;
  }

  #stage a {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #stage a img {
    width: 100%;
  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 8s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  .titreSlide1{
    width: 70%;
    position: absolute;
    top: 150px;
    left: 10%;
    font-family:"Playfair Display", Arial, serif ;
    font-size: 6em;
    color: white;
    z-index: 99;
  }

  /*
  #stage a::after {
    position: absolute;
    left: 11px;
    top: 30%;
    padding: 2px 0;
    width: calc(100% - 22px);
    height: 50px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    content: attr(title);
    font-size: 1.1em;
    color: #fff;
  }
*/
  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

/***********************************************************************************/

.checks{
  width:1400px;
  position: absolute;
  margin-top: -320px;
  padding: 10px 10px 10px 200px;
  background: rgba(182, 145, 0, 0.8);
  margin-bottom: 139px;
  z-index: 20;
}

.checkIns{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-column-gap: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.checkInside{
  width: 220px;
  height: 120px;
  padding: 40px 20px 60px 20px;
  background-color: white;
}
.checkInsideEnd{
  text-align: center;
  width: 200px;
  height: 100%;
  padding: 30px;
  background-color: black;
}
.checkInsideEnd a span{
  color: white;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: 500;
}

.booking-form .form-control {
  border: none !important;
  height: 40px !important;
  padding-left: 0;
  padding-right: 0;
  color: black !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-family: "Playfair Display", Arial, serif;
  background: transparent;
}

.checkInsideEnd a small{
  color:#b69100;
}

/*****************************************************************************************/

.presta{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.mesPresta{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto 1fr auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
}
.mesPresta h3{
  position: relative;
  top: -50px;
  font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
  }

.chambreSpecialeText{
  position: relative;
  top: -100px;
  color: white;
}

.services-wrap img{
  width: 100%;
  height: 250px;
}

.ftco1{
  text-align: center;
  padding-bottom:10px ;
  margin-bottom: 50px;
}
.contentLuxe{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.contentLuxeText{
  margin-bottom: 50px;
}
.contentLuxeText h2{
  margin-bottom: 50px;
  font-family: "Playfair Display", Arial, serif;
  font-size: 38px;
    font-weight: 400;
    position: relative;
}
.contentLuxe.subheading{
  font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #b69100;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.fa-bell-concierge{
  position: relative;
  color: rgb(218, 190, 9);
  font-size: 3.5em;
}
.colVision{
  padding: 0px;
}
.visionLuxeIn{
  width: auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
.visonSolo{
  width: 200px;
  height: 150px;
  padding-top: 10px;
  padding-bottom: 20px;
  align-self: center;
  background-color: #f8f9fa;
}
.visonSolo h3{
  position: absolute;
  bottom: 20px;
  margin-left: 2%;
font-family: "Playfair Display", Arial, serif;
font-size: 1.1rem;
}
.visionLuxeIn span{
  font-size: 4em;
  color: rgba(182, 145, 0, 0.8);
}



/****************************************************************************/
.half{
  width: 100%;
  text-align: center;
  margin-top: 10%;
  position: relative;
}
.pt-1 a{
  position: relative;
padding: 10px 40px; 
top: 20px;
border: 1px solid black;
}
.RoomsText{
  text-align: center;
  margin-bottom: 50px;
}
.RoomsText span{
  font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #b69100;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.RoomsText h2{
  font-family: "Playfair Display", Arial, serif;
  font-size: 38px;
    font-weight: 400;
    position: relative;
}
.compoChambres{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
}
.room-wrap{
  background-color: white;
}
.room-wrapFlex .half{
  width: 100%;
  background-color: white;
}
.room-wrapFlex{
  display: flex;
  background-color: white;
}
.room-wrapFlex img{
  width: 50%;
  height: 360px;
}
.room-wrapFlexReverse{
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
}
.room-wrapFlexReverse img{
  width: 50%;
  height: 360px;
}
img#specialImg{
  width: 100%;
  height: 360px;
}
.middleText {
  position: relative;
  text-align: center;
  color: white;
}
.middleText h2{
  position: relative;
  text-align: center;
  z-index: 10;
  margin-top: -300px;
  font-size: 40px;
}
.room-wrap img{
  width:500px;
  height: 400px;
}

.containerMenu{
  background-image: url("/./images/menu/restaurant-pattern.jpg");
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.monMenu{
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
.menuText{
  text-align: center;
  color: black;
}
.menuText span{
  font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #b69100;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.menuText h2{
  font-size: 38px;
    font-weight: 400;
    position: relative;
}

.pricing-entry {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 30px;
  background: #f8f9fa;
  background: #fff;
  padding: 30px 20px;
  -webkit-box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
}

.pricing-entry img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.pricing-entryReverse {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  background: #f8f9fa;
  background: #fff;
  padding: 30px 20px;
  -webkit-box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
}
.alignerPrix{
  display: flex;
  justify-content: space-between;
}
.alignerPrixReverse{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.monMenuIn img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.groupArticles{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 50px;
}
.articlesText{
  text-align: center;
  margin-bottom: 50px;
  color: black;
}
.articlesText span{
  font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #b69100;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.articlesText h2{
  font-size: 38px;
    font-weight: 400;
    position: relative;
}
.articlesFlex{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-gap: 10px;
}
.stretchArticle{
  text-align: center;
}


#home{
  position: relative;
  width: auto;
  /*max-width: 90%;*/
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
video{
  width: 100%;
  height: 800px;
  aspect-ratio: 16/9;
  margin: 0px;
}
video img{
  background-size: cover;
}

.textVideo h1{
  position: absolute;
  top: 100px;
  margin-left: 15%;
  width: 80%;
  color: rgb(162, 119, 9);
}
.textVideo{
  font-size: 2em;
}

/********** AVIS ************************************************/

.textAvis{
  text-align: center;
  padding: 70px 0 30px 0px;
  background-color: rgba(128, 128, 128, 0.081);
}
.textAvis span{
  font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #b69100;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.testimonyIn{
  width: 50%;
  background-color: white;
}
.fa-quote-left{
  position: absolute;
  width: auto;
  height: auto;
  border-radius: 50%;
  background-color: white;
  font-size: 1em;
  padding: 10px 12px ;
  margin-left: -30px;
  margin-top: 4%;
}
.fa-quote-left::after{
  content:"";
  position: relative;
}

/*.......................  SLIDER  ..................*/
#slideShowAvis{
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.081);
  margin-bottom: 50px;
}
#slider{
  width: auto;
  height: 100%;
  position: relative;
  top: 20%;
  text-align: center;
  transition: all 1s;
}
.slideImg{
  width: 100px;
  height: 100px;
  position: relative;
  top: 0%;
  border-radius: 50%;
}

#bandeauColor{
  width: 100%;
  height: auto;
  position: relative;
  top: 5%;
  margin-left: 0px;
  text-align: center;
  padding: 10px;
  z-index: 1;
}
#InfoSlider{
  width: auto;
  height: 100%;
  position: relative;
  top: 0px;
  margin-left: 0%;
  font-weight: bold;
  padding:5px;
  -webkit-text-stroke: 2px rgba(45, 44, 44, 0.182);
  color:white;
  transition:all 2s;
}
.nomSlide{
  font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    color: #000000;
}

.crossModal{
  width: 35px;
  height: auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.201);
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px 0;
}
.closeModal:hover{
  cursor: pointer;
  opacity: 0.5;
}

.modalInsta1 {
  width: 100%;
  position: absolute;
  display: none;
  text-align: center;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.367);
  z-index: 10;
  /* Other styles for modal */
}
.modalInstaIn1{
  position: relative;
  width: 700px;
  height: 600px;
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(88, 85, 85);
}
.modalInstaIn1 img{
  width: 100%;
  height: auto;
}

.show-modal {
  display: block;
  /* Additional styles for showing the modal, such as animation */
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


.modalInsta2 {
  width: 100%;
  position: absolute;
  display: none;
  text-align: center;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.367);
  z-index: 10;
  /* Other styles for modal */
}
.modalInstaIn2{
  position: relative;
  width: 700px;
  height: 600px;
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(88, 85, 85);
}
.modalInstaIn2 img{
  width: 100%;
  height: auto;
}
.show-modal2 {
  display: block;
  /* Additional styles for showing the modal, such as animation */
  animation: fadeIn 0.3s ease;
}


.modalInsta3 {
  width: 100%;
  position: absolute;
  display: none;
  text-align: center;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.367);
  z-index: 10;
  /* Other styles for modal */
}
.modalInstaIn3{
  position: relative;
  width: 700px;
  height: 600px;
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(88, 85, 85);
}
.modalInstaIn3 img{
  width: 100%;
  height: auto;
}
.modalInsta3 {
  display: none;
  /* Other styles for modal */
}
.show-moda3 {
  display: block;
  /* Additional styles for showing the modal, such as animation */
  animation: fadeIn 0.3s ease;
}


.modalInsta4 {
  width: 100%;
  position: absolute;
  display: none;
  text-align: center;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.367);
  z-index: 10;
  /* Other styles for modal */
}
.modalInstaIn4{
  position: relative;
  width: 700px;
  height: 600px;
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(88, 85, 85);
}
.modalInstaIn4 img{
  width: 100%;
  height: auto;
}
.modalInsta4 {
  display: none;
  /* Other styles for modal */
}
.show-moda4 {
  display: block;
  /* Additional styles for showing the modal, such as animation */
  animation: fadeIn 0.3s ease;
}

.modalInsta5 {
  width: 100%;
  position: absolute;
  display: none;
  text-align: center;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.367);
  z-index: 10;
  /* Other styles for modal */
}
.modalInstaIn5{
  position: relative;
  width: 700px;
  height: 600px;
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(88, 85, 85);
}
.modalInstaIn5 img{
  width: 100%;
  height: auto;
}
.show-moda5 {
  display: block;
  /* Additional styles for showing the modal, such as animation */
  animation: fadeIn 0.3s ease;
}

.instagram{
  width: auto;
}
.instagramText .subheading{
  font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #b69100;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.instagramText{
  text-align: center;
  margin-bottom: 50px;
}
.instagramText h2{
  font-size: 38px;
    font-weight: 400;
    position: relative;
}
.instagramIn{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
}


/*----------------- FOOTER --------------------*/
footer{
  height: 400px;
  color: white;
  margin-left: auto;
  padding-top: 2%;
  background-color: black;
}
footer h3{
  padding-bottom: 20px;
}
.copyright {
  position: relative;
  text-align: center;
  margin-top: 10%;
}
.row_footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

.fa-twitter,.fa-facebook, .fa-instagram {
    font-size: 30px;
    color: #f0f0f0 !important;
}
.fa-location-dot,.fa-phone, .fa-envelope {
  font-size: 30px;
  color: #f0f0f0 !important;
}
footer a {
  color: #f0f0f0 !important;
}

.container_footer{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/********** responsive **********************/

@media screen and (max-width: 430px){

  .navbarGenerale{
    height: 66px;
    padding: 10px 15px;
    background-color: black;
  }
  .contentNav {
    width: auto;
    padding: 0px;
    background-color: black;
    justify-content: space-between;
}
.contentNav a.titre{
  display: none;
}
  a.titreToggle {
    display: block;
    position: absolute;
    color: white;
    z-index: 100;
  }
  /*
  .navbarToggleGen{
    background-color: black;
  }
  */
  .navbarToggle-toggler{
    position: absolute;
    display: block;
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding: 5px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
    right: 0px;
    border-radius: 5px;
    background-color: #8080808a;
    z-index: 100;
  }

  ul.navbarToggle-navToggle.menuToggle{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -20px;
  }
  ul.navbarToggle-navToggle a.navToggle-linkToggle{
    position: relative;
    margin-top: 15px;
    left: 20px;
    color: grey;
    padding: 0px;
    display: none;
  }
  ul li.navToggle-itemToggle{
    position: relative;
    right:0px
  }
  
  li.navToggle-itemToggle{
    position: relative;
  }
  .NavInt{
    display: none;
  }

  #stage {
    position: relative;
    top: 40px;
    height: 400px;
  }
  .titreSlide1{
    font-size: 1.8em;
  }

  .checks{
    width: 100%;
   margin-top: 50px;
   padding: 5px;
  }
  .checkIns{
    grid-template-columns: repeat(1, 1fr);
    padding: inherit;
  }
  .checkInside{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid grey;
  }
  .checkInside input{
    width: 100%;
  }
  .form-control.checkin_date, .form-control.checkout_date{
    width: 80%;
    position: absolute;
    margin-top: 15%;
    left: 10px;
    font-size: 1.2em;
    border: none;
  }
  select.form-control{
    width: 100%;
    left: 10px;
    margin-top: 5%;
    font-size: 1.2em;
    border: none;
  }
  .icon.hydrated{
    width: auto;
    position: relative;
    left: 10px;
    fill: rgb(237, 9, 9);
    color: red;
    z-index: 30;
  }

  
  .checkInsideEnd{
    width: 100%;
  }

  .presta{
    position: relative;
    margin-top: 670px;
    width: 400px;

  }
  .mesPresta{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0px;
    width: 100%;
    margin-bottom: 0px;
  }
  .mesPresta.col-md-3{
    width: 100%;
  }

  .contentLuxeText{
    width: 100%;
  }
  .contentLuxeText .subheading{
    color: rgba(182, 145, 0, 0.8);
  }
  .contentLuxe{
    display: block;
    width: 430px;
    margin-top: 5%;
  }
  .visionLuxeIn {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}
.visonSolo {
  width: 100%;
}

.RoomsText{
  width: 100%;
}
.compoChambres {
  grid-template-columns: repeat(1,1fr);
}
.room-wrapFlex {
  display: block;
}
.room-wrapFlex img{
  width: 100%;
}
.room-wrapFlexReverse {
  display: block;
}
.room-wrapFlexReverse img{
  width: 100%;
}
.half{
  height: 360px;
}

.slideShowAvis{
  width: 400px;
}
.fa-quote-left{
  margin-top: 16%;
}
/*
#home{
  margin-left: 0px;
}
*/
video {
  height: auto;
}
.textVideo h1{
  font-size: 30px;
}

.monMenu {
  grid-template-columns: repeat(1,1fr);
}
.pricing-entry{
  display: block;
  text-align: center;
}
.pricing-entryReverse{
  display: block;
  text-align: center;
}

.articlesFlex{
  grid-template-columns: repeat(1, 1fr);
}

.instagramIn{
  grid-template-columns: repeat(1, 1fr);
}

footer{
  height: auto;
  padding: 20px;
}
.row_footer {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
}

}
