*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5{
  font-family: "Playfair Display", Arial, serif;
}
i{
  color: rgb(218, 190, 9);
  font-size: 3em;
}
.icon-inner, .ionicon, svg{
  width: 60px;
  fill: rgba(182, 145, 0, 0.8);
}
a{
  text-decoration: none;
  color: #212529;
}

html, body {
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header{
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 20;
}

.navbar-toggler{
  display: block;
}
      .navbar {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem 0rem 1rem 1rem; 
        background-color: white;
      }
      a.titre {
      font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
      }
      .contentNav{
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-around;
      }
    ul.navbar-nav{
      width: 120%;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: space-between;
    }
    .nav-item{
      display: inline-block;
    }
    li.nav-item a{
    font-size: 14px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    opacity: 1 !important;
    }

    .aside-stretch{
      position: relative;
      margin-top: 200px;
    }
  /********************** SLIDER *************************************/
.slideshow{
        width:100%;
        height: 1000px;
        position:relative;
        overflow:hidden;
        top:0px;
      }

.slider{
  width:200%;
  height: 100%;
}

figure {
  float:left;
}
figure img{
  width:100%;
  height: 900px;
  float:left;
}
/*
.slider figure{
  position:relative;
  width:50%;
  margin:0px;
  left:0px;
  animation:fade1, fade2 5s infinite;
}
*/
.slider figcaption{
  display: flex;
  justify-content: space-evenly;
    width:80%;
    height:auto;
    position:absolute;
    top:250px;
    left:0%;
    font-family:"Poppins", Sans-serif;
    font-size:1.6em; 
    color:white;
    padding: 30px;
}

.fa-play{
  position: relative;
  color: white;
  font-size: 1.5em;
}
.info_blue h3:hover{
  border:3px solid rgba(182, 146, 0, 0.378);
  background-color: rgba(128, 128, 128, 0.363);
}

.info_blue h3{
  position: absolute;
  right: 0;
   width:120px;
   height: 120px;
   padding:40px 0px;
   border-radius: 50%;
   text-align:center;
   background-color:rgba(182, 145, 0, 0.8);
   font-size:0.8em;
   box-shadow:2px 3px 9px black;
}
.home-slider figcaption p{font-size:0.6em;color:white;}

.info_blue{text-decoration:none;color:white;}

.command_next_bt ::before{/*Boutton gauche*/
content"";
width:12px;
height:40px;
padding:10px;
color:white;
font-size:280%;
position:absolute;
z-index:20;
top:45%;
left:0px;
border-bottom-right-radius: 55px;
border-top-right-radius: 55px;
background-color: #827f7f;
opacity:0.4
}
.command_prev_bt ::before{/*Boutton droit*/
content:"";
width:12px;
height:40px;
padding:10px;
color:white;
font-size:280%;
border-bottom-left-radius: 55px;
border-top-left-radius: 55px;
background-color: #827f7f;
opacity:0.4;
position:absolute;
z-index:20;
top:45%;
right:0;
}

.bg1,.bg2,.bg3{
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg1{
  background-image:url("/./images/header/facade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade1 20s infinite;
}

.bg2{
  background-image: url("/./images/header/piscine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade2 30s infinite;
}

.bg3{
  background-image: url("/./images/TERRASSE/vue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade3 30s  infinite;
}

@keyframes fade1{
0%{opacity:1}
25%{opacity:1}
75%{opacity:0}
100%{opacity:1}
}

@keyframes fade2{
  0%{opacity:0}
  25%{opacity:1}
  75%{opacity:0}
  100%{opacity:0}
  }
  
  @keyframes fade3{
    0%{opacity:0}
    25%{opacity:0}
    75%{opacity:1}
    100%{opacity:0}
    }

#timeline{
position:absolute;
z-index:6;
background:rgba(182, 145, 0, 0.8);;
left:0px;
bottom:0px;
height:5px;
animation:timeliner 15s infinite;
}

@keyframes timeliner{
0% ,50%{width:0px;}
60%, 100%{width:100%;}
}
/*
@keyframes timeliner{
  60% ,0%{width:0px;}
  100%, 90%{width:100%;}
  }
*/

/***********************************************************************************/

.checks{
  width:1400px;
  position: relative;
  margin-top: -320px;
  padding: 10px 10px 10px 200px;
  background: rgba(182, 145, 0, 0.8);
  margin-bottom: 139px;
}

.checkIns{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-column-gap: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.checkInside{
  width: 220px;
  height: 120px;
  padding: 40px 20px 60px 20px;
  background-color: white;
}
.checkInsideEnd{
  text-align: center;
  width: 200px;
  height: 100%;
  padding: 30px;
  background-color: black;
}
.checkInsideEnd a span{
  color: white;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-transform: uppercase;
    font-weight: 500;
}

/*****************************************************************************************/

.services{
  margin-left: auto;
  margin-right: auto;
}
.mesServices{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto 1fr auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
}
.mesServices h3{
  position: relative;
  top: -50px;
  font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
  }

.chambreSpecialeText{
  position: relative;
  top: -100px;
  color: white;
}
.services-wrap img{
  width: 100%;
  height: 250px;
}

.ftco1{
  text-align: center;
  padding-bottom:10px ;
  margin-bottom: 50px;
}
.contentLuxe{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.contentLuxeText{
  margin-bottom: 50px;
}
.contentLuxeText h2{
  margin-bottom: 50px;
  font-family: "Playfair Display", Arial, serif;
  font-size: 38px;
    font-weight: 400;
    position: relative;
}
.fa-bell-concierge{
  position: relative;
  color: rgb(218, 190, 9);
  font-size: 3.5em;
}
.colVision{
  padding: 0px;
  background-color: yellow;
}
.visionLuxeIn{
  width: auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
.visonSolo{
  width: 200px;
  height: 150px;
  padding-top: 10px;
  align-self: center;
  background-color: #f8f9fa;
}
.visonSolo h3{
font-family: "Playfair Display", Arial, serif;
}

/****************************************************************************/
.half{
  width: 100%;
  text-align: center;
  margin-top: 10%;
  position: relative;
}
.pt-1 a{
  position: relative;
padding: 10px 40px; 
top: 20px;
border: 1px solid black;
}
.RoomsText{
  text-align: center;
  margin-bottom: 50px;
}
.RoomsText h2{
  font-family: "Playfair Display", Arial, serif;
  font-size: 38px;
    font-weight: 400;
    position: relative;
}
.compoChambres{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
}
.room-wrap{
  background-color: white;
}
.room-wrapFlex .half{
  width: 100%;
  background-color: white;
}
.room-wrapFlex{
  display: flex;
  background-color: white;
}
.room-wrapFlex img{
  width: 50%;
  height: 360px;
}
.room-wrapFlexReverse{
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
}
.room-wrapFlexReverse img{
  width: 50%;
  height: 360px;
}
img#specialImg{
  width: 100%;
  height: 360px;
}
.middleText {
  position: relative;
  text-align: center;
  color: white;
}
.middleText h2{
  position: relative;
  text-align: center;
  z-index: 10;
  margin-top: -300px;
  font-size: 40px;
}
.room-wrap img{
  width:500px;
  height: 400px;
}

.textAvis{
  text-align: center;
  padding: 50px 0;
  background-color: rgba(128, 128, 128, 0.081);
}
.testimonyIn{
  width: 50%;
  background-color: white;
}
.fa-quote-left{
  position: absolute;
  width: auto;
  height: auto;
  border-radius: 50%;
  background-color: white;
  font-size: 1em;
  padding: 10px 12px ;
  margin-left: -30px;
  margin-top: 6%;
}
.fa-quote-left::after{
  content:"";
  
  position: relative;
  
}

.containerMenu{
  background-image: url("/./images/menu/restaurant-pattern.jpg");
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.monMenu{
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}
.menuText{
  text-align: center;
  color: black;
}
.menuText h2{
  font-size: 38px;
    font-weight: 400;
    position: relative;
}

.pricing-entry {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 30px;
  background: #f8f9fa;
  background: #fff;
  padding: 30px 20px;
  -webkit-box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
}

.pricing-entry img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.pricing-entryReverse {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  background: #f8f9fa;
  background: #fff;
  padding: 30px 20px;
  -webkit-box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
}
.alignerPrix{
  display: flex;
  justify-content: space-between;
}
.alignerPrixReverse{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.monMenuIn img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.groupArticles{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 50px;
}
.articlesText{
  text-align: center;
  margin-bottom: 50px;
  color: black;
}
.articlesText h2{
  font-size: 38px;
    font-weight: 400;
    position: relative;
}
.articlesFlex{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-gap: 10px;
}
.stretchArticle{
  text-align: center;
}


#home{
  position: relative;
  width: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
video{
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  margin: 0px;
}

.textVideo h1{
  position: absolute;
  top: 100px;
  margin-left: 2%;
  width: 80%;
  color: white;
}
.textVideo{
  font-size: 2em;
}


/*.......................  SLIDER  ..................*/
#slideShowAvis{
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
#slider{
  width: auto;
  height: 100%;
  position: relative;
  text-align: center;
  transition: all 1s;
}
.slideImg{
  width: 150px;
  height: 150px;
  position: relative;
  top: 0%;
  margin-bottom: 10px;
  border-radius: 50%;
}

#bandeauColor{
  width: 100%;
  height: auto;
  position: relative;
  top: 60%;
  margin-left: 0px;
  text-align: center;
  padding: 10px;
  background-color: grey;
  z-index: 1;
}
#InfoSlider{
  width: auto;
  height: auto;
  position: relative;
  top: 0px;
  margin-left: 0%;
  font-weight: bold;
  padding:5px;
  -webkit-text-stroke: 2px rgba(45, 44, 44, 0.182);
  color:white;
  transition:all 2s;
}

.instagram{
  width: auto;
}
.instagramText{
  text-align: center;
  margin-bottom: 50px;
}
.instagramText h2{
  font-size: 38px;
    font-weight: 400;
    position: relative;
}
.instagramIn{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
}
